div.toc ul
{
    list-style-type: none;
}
div.toc a
{
	border-radius: 5px;
	text-decoration:none;
	border: 1px rgba( 0, 0, 0, 0) solid;
}
div.toc a:hover
{
	border-color: black;
	background: A6F7E3;
}

div.toc
{
   background-color : #BBA6F7;
}

