div.toc ul
{
    list-style-type: none;
}
div.toc a
{
	border-radius: 5px;
	text-decoration:none;
	border: 1px rgba( 0, 0, 0, 0) solid;
}
div.toc a:hover
{
	border-color: black;
}

div.toc
{
	padding: 0.1em;
	background-color : #E9F3FF;
}

pre.prettyprint {
	background-color : #f0f0f0;
	padding: 5px
}

table {
	padding-left : 20px;
	
}
table td {
	border-top: 1px solid #ddd;
	
}

